:root{
    --fg-color: white;
    --green-color: #00b100;
    --bg-color: #000a00;

    --max-width: 75%;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("JetBrainsMono.ttf") format('truetype');
}

* {
    font-family: "JetBrainsMono", 'Courier New', Courier, monospace;
    color: var(--fg-color);
    text-align: center;
}

body {
    display: grid;
    margin-top: 5rem;

    /* background-color: hsl(150, 11%, 5%); */
    background-color: var(--bg-color);
}
.project-body {
    margin-top: 0;
}

#logo {
    max-height: 20rem;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 2rem 0 2rem;
}
.project-navs {
	margin-bottom: 3rem;
}

address {
    margin: 1rem;
}
nav h2 {
    word-wrap: break-word;
}
button {
    border: 1px solid var(--fg-color);
    background-color: transparent;
    padding-left: 1rem;
    padding-right: 1rem;
}
button:hover {
    background-color: var(--green-color);
    transform: scale(1.1);
}

.all-skills {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.project-skills {
    margin-top: 0.5rem;
}
.project-skills i {
    opacity: 0.7;
}
.project-skills p {
	opacity: 0.7;
	margin-top: 0;
	margin-bottom: 0;
	font-size: small;
}

i {
    font-size: 3rem;
}
.project-skills i {
    font-size: 1.5rem;
}

.anime-link {
    display: inline-flex;
    text-decoration: none;
    color: var(--fg-color);
}
.anime-link:hover {
    transform: scale(1.1);
    font-weight: bold;
    text-decoration:underline;
}
.anime-link-text {
    min-width: 0.5rem;
}


.back-button-link {
    display: flex;
    position: absolute;
    z-index: 2;

    top: 2rem;
    left: 2rem;
}
.back-icon {
    filter: invert();
    max-height: 2rem;
}

.container {
    max-width: var(--max-width);
    margin-inline: auto;
}

.project-img {
    background-color: black;
}
.project-img img {
    max-height: 450px;
}
.img-description {
    opacity: 0.5;
}

.project-content {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    gap: 0rem 4rem;
    justify-items: center;
    margin-top: 3rem;
}
@media (max-width: 500px) {
    .project-content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        gap: 1rem 0rem;
    }
}
.project-content ul {
    list-style: disc;
    margin-top: 0rem;
    justify-content: left;
}
.project-content li {
    text-align: left;
}

#role {
	opacity: 0.3;
	margin-top: 0;
	margin-bottom: 0;
}